tests/WSDLparser/PIQ/autoalign.wsdl

<?xml version="1.0" encoding="utf-8" ?> 
<definitions 
	xmlns="http://schemas.xmlsoap.org/wsdl/"
 	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 	xmlns:xs="http://www.w3.org/2001/XMLSchema"
 	xmlns:bas="http://www.semanticbits.com/piq-workflow/wsdl/"
 	xmlns:tns="http://www.semanticbits.com/piq-workflow/wsdl/autoalign"
 	xmlns:spat="http://dev.w3.org/cvsweb/perl/modules/W3C/SPDL/"
 	targetNamespace= "http://www.semanticbits.com/piq-workflow/wsdl/autoalign">

 <documentation>
	 This document describes a mock service corresponding to the 'autoalign'
	 node from the PIQ Workflow in Fig 4a of "Parameterized specification,
	 configuration and execution of data-intensive scientific workflows" by
	 Kumar et al.  The autoalign node takes as input a NormalizedProjectedChunkFile and returns an OffsetsFile.
</documentation>



<types>
	<xs:schema
		targetNamespace="http://www.semanticbits.com/piq-workflow/wsdl/autoalign"
     	xmlns:xs="http://www.w3.org/2001/XMLSchema"
     	xmlns:tns="http://www.semanticbits.com/piq-workflow/wsdl/autoalign">
      <xs:element name="NormalizedProjectedChunkFile" type="xs:string" />    
	  <xs:element name="OffsetsFile" type="xs:string"/>   

	</xs:schema>    
</types>


<message name="InputMessage">
    <part name="body" element="tns:NormalizedProjectedChunkFile"/>
</message>

<message name="OutputMessage">
    <part name="body" element="tns:OffsetsFile"/>
</message>


<portType name="autoalignPortType">
    <operation name="opAutoalign">
      <input message="tns:InputMessage" spat:SPAT="?autoalign bas:has tns:NormalizedProjectedChunkFile"/>
      <output message="tns:OutputMessage" spat:SPAT="?autoalign bas:has tns:OffsetsFile"/>
    </operation>
</portType>


 <binding name="autoalignSOAPBinding" type="tns:autoalignPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="opAutoalign">
    <soap:operation soapAction="http://www.semanticbits.com/piq-workflow/autoalign"/>
      <input>
	<soap:body use="literal"/>
      </input>
      <output>
	<soap:body use="literal"/>
      </output>
    </operation>
  </binding>


<!-- This is mock-up of a service: there is no endpoint associated. - SH -->
<service name="autoalignService">
    <port name="autoalignServicePort" binding="tns:autoalignSOAPBinding">
      <soap:address location="http://www.semanticbits.com/piq-workflow/autoalign"/>
    </port>
  </service>



</definitions>

