tests/WSDLparser/PIQ/chunkisize.wsdl

<?xml version="1.0" encoding="utf-8" ?> 
<definitions 
	xmlns="http://schemas.xmlsoap.org/wsdl/"
 	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 	xmlns:xs="http://www.w3.org/2001/XMLSchema"
 	xmlns:bas="http://www.semanticbits.com/piq-workflow/wsdl/"
 	xmlns:tns="http://www.semanticbits.com/piq-workflow/wsdl/chunkisize"
 	xmlns:spat="http://dev.w3.org/cvsweb/perl/modules/W3C/SPDL/"
 	targetNamespace= "http://www.semanticbits.com/piq-workflow/wsdl/chunkisize">

 <documentation>
	 This document describes a mock service corresponding to the 'chunkisize'
	 node from the PIQ Workflow in Fig 4a of "Parameterized specification,
	 configuration and execution of data-intensive scientific workflows" by
	 Kumar et al.  The chunkisize node takes as input a DimFile and 2 size parameters and returns a ChunkisizeMetaFile and a StackFile.
</documentation>



<types>
	<xs:schema
		targetNamespace="http://www.semanticbits.com/piq-workflow/wsdl/chunkisize"
     	xmlns:xs="http://www.w3.org/2001/XMLSchema"
     	xmlns:tns="http://www.semanticbits.com/piq-workflow/wsdl/chunkisize">
		
     
     <xs:element name="ChunkiSizeInput">
	     <xs:complexType>
			  <xs:sequence>
			  	<!-- When a query with as input an ImageFile is done, the chunksizes will need to be provided in the query (they are parameters for performance optimizations) -->
	  			<!-- Plenty of such inputs have been left out for simplicity, e.g. TileHeight. -->
	    		<xs:element name="ChunkSizeX" type="xs:double" minOccurs="1" maxOccurs="1"/>
	    		<xs:element name="ChunkSizeY" type="xs:double" minOccurs="1" maxOccurs="1"/>
	    		<!-- DimFile will be output of the partition service and input to this service. -->
	    		<xs:element name="DimFile" type="xs:string" minOccurs="1" maxOccurs="1"/>
	  		</xs:sequence>
		</xs:complexType>
	</xs:element>
     
     <xs:element name="ChunkiSizeOutput">
	     <xs:complexType>
			  <xs:sequence>
			  	<xs:element name="ChunkisizeMetaFile" type="xs:string" minOccurs="1" maxOccurs="1"/>	
				<xs:element name="StackFile" type="xs:string" minOccurs="1" maxOccurs="1"/>	     
	  		</xs:sequence>
		</xs:complexType>
	</xs:element>
	  
	</xs:schema>    
</types>


<message name="ChunkisizeInputMessage">
    <part name="body" element="tns:ChunkiSizeInput"/>
</message>

<message name="ChunkisizeOutputMessage">
    <part name="body" element="tns:ChunkiSizeOutput"/>
</message>



<portType name="chunkisizePortType">
    <operation name="opChunkisize">
      <input message="tns:ChunkisizeInputMessage" spat:SPAT="?chunkisize bas:has tns:DimFile"/>
      <output message="tns:ChunkisizeOutputMessage" spat:SPAT="?chunkisize bas:has tns:ChucksizeMetaFile, tns:StackFile"/>
    </operation>
</portType>


 <binding name="chunkisizeSOAPBinding" type="tns:chunkisizePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="opChunkisize">
    <soap:operation soapAction="http://www.semanticbits.com/piq-workflow/chunkisize"/>
      <input>
	<soap:body use="literal"/>
      </input>
      <output>
	<soap:body use="literal"/>
      </output>
    </operation>
  </binding>


<!-- This is mock-up of a service: there is no endpoint associated. - SH -->
<service name="chunkisizeService">
    <port name="chunkisizeServicePort" binding="tns:chunkisizeSOAPBinding">
      <soap:address location="http://www.semanticbits.com/piq-workflow/chunkisize"/>
    </port>
  </service>



</definitions>

