tests/WSDLparser/PIQ/mst.wsdl

<?xml version="1.0" encoding="utf-8" ?> 
<definitions 
	xmlns="http://schemas.xmlsoap.org/wsdl/"
 	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 	xmlns:xs="http://www.w3.org/2001/XMLSchema"
 	xmlns:bas="http://www.semanticbits.com/piq-workflow/wsdl/"
 	xmlns:tns="http://www.semanticbits.com/piq-workflow/wsdl/mst"
 	xmlns:spat="http://dev.w3.org/cvsweb/perl/modules/W3C/SPDL/"
 	targetNamespace= "http://www.semanticbits.com/piq-workflow/wsdl/mst">

 <documentation>
	 This document describes a mock service corresponding to the 'mst'
	 node from the PIQ Workflow in Fig 4a of "Parameterized specification,
	 configuration and execution of data-intensive scientific workflows" by
	 Kumar et al.  The mst node takes as input an OffsetFile and returns a DisplacementsFile.
</documentation>



<types>
	<xs:schema
		targetNamespace="http://www.semanticbits.com/piq-workflow/wsdl/mst"
     	xmlns:xs="http://www.w3.org/2001/XMLSchema"
     	xmlns:tns="http://www.semanticbits.com/piq-workflow/wsdl/mst">
	  <xs:element name="OffsetsFile" type="xs:string"/>   
	  <xs:element name="DisplacementsFile" type="xs:string"/>   

	</xs:schema>    
</types>


<message name="InputMessage">
    <part name="body" element="tns:OffsetsFile"/>
</message>

<message name="OutputMessage">
    <part name="body" element="tns:DisplacementsFile"/>
</message>


<portType name="mstPortType">
    <operation name="opMst">
      <input message="tns:InputMessage" spat:SPAT="?mst bas:has tns:OffsetsFile"/>
      <output message="tns:OutputMessage" spat:SPAT="?mst bas:has tns:DisplacementsFile"/>
    </operation>
</portType>


 <binding name="mstSOAPBinding" type="tns:mstPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="opMst">
    <soap:operation soapAction="http://www.semanticbits.com/piq-workflow/mst"/>
      <input>
	<soap:body use="literal"/>
      </input>
      <output>
	<soap:body use="literal"/>
      </output>
    </operation>
  </binding>


<!-- This is mock-up of a service: there is no endpoint associated. - SH -->
<service name="mstService">
    <port name="mstServicePort" binding="tns:mstSOAPBinding">
      <soap:address location="http://www.semanticbits.com/piq-workflow/mst"/>
    </port>
  </service>



</definitions>

