tests/WSDLparser/PIQ/normalizeZ.wsdl

<?xml version="1.0" encoding="utf-8" ?> 
<definitions 
	xmlns="http://schemas.xmlsoap.org/wsdl/"
 	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 	xmlns:xs="http://www.w3.org/2001/XMLSchema"
 	xmlns:bas="http://www.semanticbits.com/piq-workflow/wsdl/"
 	xmlns:tns="http://www.semanticbits.com/piq-workflow/wsdl/normalizeZ"
 	xmlns:spat="http://dev.w3.org/cvsweb/perl/modules/W3C/SPDL/"
 	targetNamespace= "http://www.semanticbits.com/piq-workflow/wsdl/normalizeZ">

 <documentation>
	 This document describes a mock service corresponding to the 'normalizeZ'
	 node from the PIQ Workflow in Fig 4a of "Parameterized specification,
	 configuration and execution of data-intensive scientific workflows" by
	 Kumar et al.  The normalizeZ node takes as input a ProjectedChunkFile, an OffsetFile, and a AverageTileFile, and returns a NormalizedProjectedChunkFile.
</documentation>



<types>
	<xs:schema
		targetNamespace="http://www.semanticbits.com/piq-workflow/wsdl/normalizeZ"
     	xmlns:xs="http://www.w3.org/2001/XMLSchema"
     	xmlns:tns="http://www.semanticbits.com/piq-workflow/wsdl/normalizeZ">
		
     
     <xs:element name="normalizeZInput">
	     <xs:complexType>
			  <xs:sequence>
	    		<xs:element name="ProjectedChunkFile" type="xs:string" minOccurs="1" maxOccurs="1"/>
	    		<xs:element name="OffsetFile" type="xs:string" minOccurs="1" maxOccurs="1"/>
	    		<xs:element name="AverageTileFile" type="xs:string" minOccurs="1" maxOccurs="1"/>
	  		</xs:sequence>
		</xs:complexType>
	</xs:element>
     
     <xs:element name="NormalizedProjectedChunkFile" type="xs:string"/>
	  
	</xs:schema>    
</types>


<message name="normalizeZInputMessage">
    <part name="body" element="tns:normalizeZInput"/>
</message>

<message name="normalizeZOutputMessage">
    <part name="body" element="tns:NormalizedProjectedChunkFile"/>
</message>



<portType name="normalizeZPortType">
    <operation name="opNormalizeZ">
      <input message="tns:normalizeZInputMessage"   spat:SPAT="?normalizeZ bas:has bas:ProjectedChunkFile, bas:OffsetTileFile, bas:AverageTileFile"/>
      <output message="tns:normalizeZOutputMessage" spat:SPAT="?normalizeZ bas:has bas:NormalizedProjectedChunkFile"/>
    </operation>
</portType>


 <binding name="normalizeZSOAPBinding" type="tns:normalizeZPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="opNormalizeZ">
    <soap:operation soapAction="http://www.semanticbits.com/piq-workflow/normalizeZ"/>
      <input>
	<soap:body use="literal"/>
      </input>
      <output>
	<soap:body use="literal"/>
      </output>
    </operation>
  </binding>


<!-- This is mock-up of a service: there is no endpoint associated. - SH -->
<service name="normalizeZService">
    <port name="normalizeZServicePort" binding="tns:normalizeZSOAPBinding">
      <soap:address location="http://www.semanticbits.com/piq-workflow/normalizeZ"/>
    </port>
  </service>
</definitions>

