tests/WSDLparser/PIQ/preprocess.wsdl

<?xml version="1.0" encoding="utf-8" ?> 
<definitions 
	xmlns="http://schemas.xmlsoap.org/wsdl/"
 	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 	xmlns:xs="http://www.w3.org/2001/XMLSchema"
 	xmlns:bas="http://www.semanticbits.com/piq-workflow/wsdl/"
 	xmlns:tns="http://www.semanticbits.com/piq-workflow/wsdl/preprocess"
 	xmlns:spat="http://dev.w3.org/cvsweb/perl/modules/W3C/SPDL/"
 	targetNamespace= "http://www.semanticbits.com/piq-workflow/wsdl/preprocess">

 <documentation>
	 This document describes a mock service corresponding to the 'preprocess'
	 node from the PIQ Workflow in Fig 4a of "Parameterized specification,
	 configuration and execution of data-intensive scientific workflows" by
	 Kumar et al.  The preprocess node takes as input a WarpMetaFile and returns a PreprocessMetaFile.
</documentation>



<types>
	<xs:schema
		targetNamespace="http://www.semanticbits.com/piq-workflow/wsdl/preprocess"
     	xmlns:xs="http://www.w3.org/2001/XMLSchema"
     	xmlns:tns="http://www.semanticbits.com/piq-workflow/wsdl/preprocess">
		
     
     <xs:element name="WarpMetaFile" type="xs:string"/>
	 
     <xs:element name="PreprocessMetaFile" type="xs:string"/>
	  
	</xs:schema>    
</types>


<message name="preprocessInputMessage">
    <part name="body" element="tns:WarpMetaFile"/>
</message>

<message name="preprocessOutputMessage">
    <part name="body" element="tns:PreprocessMetaFile"/>
</message>



<portType name="preprocessPortType">
    <operation name="opPreprocess">
      <input message="tns:preprocessInputMessage" spat:SPAT="?preprocess bas:has tns:WarpMetaFile"/>
      <output message="tns:preprocessOutputMessage" spat:SPAT="?preprocess bas:has tns:PreprocessMetaFile"/>
    </operation>
</portType>


 <binding name="preprocessSOAPBinding" type="tns:preprocessPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="opPreprocess">
    <soap:operation soapAction="http://www.semanticbits.com/piq-workflow/preprocess"/>
      <input>
	<soap:body use="literal"/>
      </input>
      <output>
	<soap:body use="literal"/>
      </output>
    </operation>
  </binding>


<!-- This is mock-up of a service: there is no endpoint associated. - SH -->
<service name="preprocessService">
    <port name="preprocessServicePort" binding="tns:preprocessSOAPBinding">
      <soap:address location="http://www.semanticbits.com/piq-workflow/preprocess"/>
    </port>
  </service>
</definitions>

