tests/WSDLparser/PIQ/stitch.wsdl

<?xml version="1.0" encoding="utf-8" ?> 
<definitions 
	xmlns="http://schemas.xmlsoap.org/wsdl/"
 	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 	xmlns:xs="http://www.w3.org/2001/XMLSchema"
 	xmlns:bas="http://www.semanticbits.com/piq-workflow/wsdl/"
 	xmlns:tns="http://www.semanticbits.com/piq-workflow/wsdl/stitch"
 	xmlns:spat="http://dev.w3.org/cvsweb/perl/modules/W3C/SPDL/"
 	targetNamespace= "http://www.semanticbits.com/piq-workflow/wsdl/stitch">

 <documentation>
	 This document describes a mock service corresponding to the 'stitch'
	 node from the PIQ Workflow in Fig 4a of "Parameterized specification,
	 configuration and execution of data-intensive scientific workflows" by
	 Kumar et al.  The stitch node takes as input a DisplacementsFile and a NormalizedProjectedChunkFile, and returns a StitchedChunkFile.
</documentation>



<types>
	<xs:schema
		targetNamespace="http://www.semanticbits.com/piq-workflow/wsdl/stitch"
     	xmlns:xs="http://www.w3.org/2001/XMLSchema"
     	xmlns:tns="http://www.semanticbits.com/piq-workflow/wsdl/stitch">
		
     
     <xs:element name="stitchInput">
	     <xs:complexType>
			  <xs:sequence>
	    		<xs:element name="DisplacementsFile" type="xs:string" minOccurs="1" maxOccurs="1"/>
	    		<xs:element name="NormalizedProjectedChunkFile" type="xs:string" minOccurs="1" maxOccurs="1"/>
	  		</xs:sequence>
		</xs:complexType>
	</xs:element>
     
     <xs:element name="StitchedChunkFile" type="xs:string"/>
	  
	</xs:schema>    
</types>


<message name="stitchInputMessage">
    <part name="body" element="tns:stitchInput"/>
</message>

<message name="stitchOutputMessage">
    <part name="body" element="tns:StitchedChunkFile"/>
</message>



<portType name="stitchPortType">
    <operation name="opStitch">
      <input message="tns:stitchInputMessage" spat:SPAT="?stitch bas:has tns:NormalizedProjectedChunkFile, tns:DisplacementsFile"/>
      <output message="tns:stitchOutputMessage" spat:SPAT="?stitch bas:has tns:StichedChunkFile"/>
    </operation>
</portType>


 <binding name="stitchSOAPBinding" type="tns:stitchPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="opStitch">
    <soap:operation soapAction="http://www.semanticbits.com/piq-workflow/stitch"/>
      <input>
	<soap:body use="literal"/>
      </input>
      <output>
	<soap:body use="literal"/>
      </output>
    </operation>
  </binding>


<!-- This is mock-up of a service: there is no endpoint associated. - SH -->
<service name="stitchService">
    <port name="stitchServicePort" binding="tns:stitchSOAPBinding">
      <soap:address location="http://www.semanticbits.com/piq-workflow/stitch"/>
    </port>
  </service>
</definitions>

